#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  padding: 15px;
  width: 100%;
  height: 100%;
  max-width: 90%;
  color: black;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;

  h1 {
    display: flex;
    justify-content: left;
    font-size: 25px;
  }


}

form{
  padding: 10px;
  text-align: left;

  input {
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    max-width: 97%;
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }

}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;  
}

li {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: flex-start;  

}

  li input {
    background-color: white;
    color: black;
    text-align: right;
    border: none;
    width: 200%;
  }


